$golden-background: url("https://i.postimg.cc/KzPhkXBg/pexels-ylanite-koppens-934067.jpg");
$button: #ffeb3b;
$font: 'Alkalami', serif;
$border-color: #a79b9b;

.golden {
    background-image: $golden-background;
    height: 300px;
    .nav-bar{
        list-style: none;
        display: flex;
        justify-content: flex-end;
        }
        .nav-bar li {
            flex-direction: row;
            padding: 0 16px;
        }    
    .text-center {
        text-align: center;
        }    
        .button {
            background: $button
            border-radius: 6%;
            border: 1px solid $border-color;
            height: 36px;
            width: 115px;
            }
    }

    footer {
        .social-media {
            text-align: center;
    } .icn {
        padding: 0 10px;
    }
}
